
  
.blogM{margin:0!important}
.post-related,
.pInf.ps,
.menuMobile,
.search-container,
.navbar-calendar,
.pInf.ps,
footer,
.pSh,
.pInf {
    display: none!important
}
  

.toTopB {
    bottom: 20px;
    right: 22px
}

  
  
  @media screen and (max-width:1100px){
.toTopB {
    bottom: 80px!important;
  }
  }
  
  
