body{
    margin:0;
}
.active{
    background: red
}
#animeList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 20px; /* Espaçamento entre os itens */
}

.animeItem {
    border: 1px solid #ccc; /* Borda opcional para cada item */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 10px; 
    box-sizing: border-box;/* Espaçamento interno */
    text-align: center;
    width:100%;
    min-width:unset!important/* Centraliza o texto */
}

.animeItem img{
    width:100%;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Pagination styles */
#pagination-controls {
    text-align: center;
    margin: 20px 0;
}
#pagination-controls button {
    margin: 0 5px;
    padding: 5px 10px;
}

.anime-tag {
background-color: #ffcccc; /* Exemplo de cor para animes */
padding: 5px;
font-weight: bold;
color: #d50032;
}

.movie-tag {
background-color: #ccffcc; /* Exemplo de cor para filmes */
padding: 5px;
font-weight: bold;
color: #1e88e5;
}


pre{
    overflow-y:auto;
    overflow-x:hidden;
    display:flex;
    flex-wrap:wrap;
    height:100%;
    padding:10px 20px;
    box-sizing:border-box;
    border-radius:20px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  