  .Diretor:before{content:"\e7ef"!important}
  .Roteiro:before{content:"\e7ef"!important}
  .Produtores:before{content:"\f233"!important}
  
  .textB h8{opacity:0.6; font-size:15px}
  
  
  
          
          .pmovie{display: flex;gap:10px; order:2; align-items: center;}
  #mStatus{background: var(--corB3); color: var(--linkA)}
          .pmovie span{padding: 3px 10px; border-radius:15px; background: rgba(255,255,255,0.06);position: relative}
          .pmovie span:before{font-family:"Material Symbols Outlined";color: var(--cor2); font-size:20px; opacity:0.8; margin-right:10px}
  
  .pmovie .dets{display: flex}
  .pmovie .dets span{background: transparent;display: flex; align-items: center;}
          .pmovie .dets span[data-text="time"]:before{content:"\ea5d"}
          .pmovie .dets span[data-text="sub"]:before{content:"\e01c"}
          .pmovie .dets span[data-text="date"]:before{content:"\f238"}
          .pmovie .dets span[data-text="estudio"]:before{content:"\e01c"}
          .pmovie .dets span[data-text="estaçao"]:before{content:"\e430"}
          .pmovie .dets span[data-text="adm"]:before{content:"\e7fd"}
         
          
          .pmovie .dets span:after{padding:2px 10px; border-radius:5px; background:rgba(0,0,0,0.5);font-size:12px;position: absolute; top: -30px; left:30%; height:auto; white-space: nowrap;display:none; z-index:3}
          .pmovie .dets span:hover:after{display: flex!important}
          .pmovie .dets span[data-text="time"]:after{content:"Duração"}
          .pmovie .dets span[data-text="sub"]:after{content:"Tipo"}
          .pmovie .dets span[data-text="date"]:after{content:"Data de Lançamento"}
          .pmovie .dets span[data-text="estudio"]:after{content:"Estudio"}
          .pmovie .dets span[data-text="estaçao"]:after{content:"Estação"}
          .pmovie .dets span[data-text="adm"]:after{content:"Adm que fez upload"}
  
  
  #player{border-radius:20px; overflow:hidden}
